<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div id="app">

                    <div class="item" v-for="(element, index) in slides" :class="{visible: current!=index}">
                        <img :src="element.image" alt="" />
                        <div class="text">
                            <h3>
                                {{ element.title }}
                            </h3>
                            <p>
                                {{ element.text }}
                            </p>
                        </div>
                    </div>
    
                    <div class="thumbs">
                        <div class="prev" @click.prevent="prevSlide">
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
                        <div class="next" @click.prevent="nextSlide">
                            <i class="fa-solid fa-arrow-down"></i>
                        </div>
                        <div class="thumb active" v-for="element in slides">
                            <img :src="element.image" alt="" />
                        </div>
                        <!-- <div class="thumb">
                            <img src="img/02.webp" alt="Ratchet & Clank" />
                        </div>
                        <div class="thumb">
                            <img src="img/03.webp" alt="Fortnite" />
                        </div>
                        <div class="thumb">
                            <img src="img/04.webp" alt="Stray" />
                        </div>
                        <div class="thumb">
                            <img src="img/05.webp" alt="Avengers" />
                        </div> -->
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="script.js"></script>
</body>

</html>